In [6]:
import pandas as pd
import subprocess
import os
import requests
from bs4 import BeautifulSoup 
import json

# Data Understanding

* RKI, webscrape (webscraping) https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/Fallzahlen.html
* John Hopkins (GITHUB) https://github.com/CSSEGISandData/COVID-19.git
* REST API services to retreive data https://npgeo-corona-npgeo-de.hub.arcgis.com/

# COVID-19 data across the globe

In [7]:
data_path='../data/raw/COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
data_raw=pd.read_csv(data_path)

In [8]:
data_raw

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/4/22,5/5/22,5/6/22,5/7/22,5/8/22,5/9/22,5/10/22,5/11/22,5/12/22,5/13/22
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,178901,178905,178919,178922,178981,179010,179017,179131,179169,179203
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,275211,275266,275310,275341,275366,275372,275416,275440,275485,275534
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,265782,265786,265791,265794,265798,265800,265804,265806,265808,265814
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,41717,41717,41717,41717,41717,41717,41717,41717,42156,42156
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,99287,99287,99287,99287,99287,99287,99287,99287,99287,99287
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,657060,657060,657060,657060,657060,657193,657193,657193,657193,657193
280,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
281,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,11819,11819,11819,11819,11819,11819,11819,11819,11819,11819
282,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,319755,319755,319755,320099,320099,320157,320226,320303,320412,320481
283,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,248050,248050,248214,248214,248352,248536,248642,248642,248943,249131

In [9]:
git_pull = subprocess.Popen( "/usr/bin/git pull" , 
                     cwd = os.path.dirname( '../data/raw/COVID-19/' ), 
                     shell = True, 
                     stdout = subprocess.PIPE, 
                     stderr = subprocess.PIPE )
(out, error) = git_pull.communicate()


print("Error : " + str(error)) 
print("out : " + str(out))

Error : b'The system cannot find the path specified.\r\n'
out : b''

# Data for Germany

In [6]:
data_Germany=data_raw.iloc[135]
data_Germany

Province/State          NaN
Country/Region      Germany
Lat               51.165691
Long              10.451526
1/22/20                   0
                    ...
5/9/22             25406868
5/10/22            25503878
5/11/22            25592839
5/12/22            25661838
5/13/22            25723697
Name: 135, Length: 847, dtype: object

# Data for India

In [7]:
data_India= data_raw.iloc[148]
data_India

Province/State          NaN
Country/Region        India
Lat               20.593684
Long               78.96288
1/22/20                   0
                    ...
5/9/22             43107689
5/10/22            43110586
5/11/22            43113413
5/12/22            43116254
5/13/22            43119112
Name: 148, Length: 847, dtype: object

# Data for Italy

In [8]:
data_Italy= data_raw.iloc[154]
data_Italy

Province/State         NaN
Country/Region       Italy
Lat               41.87194
Long              12.56738
1/22/20                  0
                    ...
5/9/22            16816419
5/10/22           16872618
5/11/22           16915301
5/12/22           16954784
5/13/22           16993813
Name: 154, Length: 847, dtype: object